In [1]:
7**4

2401

In [5]:
s='hi there sam!'

In [6]:
s.split()

['hi', 'there', 'sam!']

In [7]:
planet="earth"
diameter=12369

In [18]:
print('the diameter of {} is {} kilometer.'.format (planet,diameter))

the diameter of earth is 12369 kilometer.

In [20]:
import datetime

In [25]:
datetime_object=datetime.datetime.now()
datetime_object

datetime.datetime(2020, 5, 12, 18, 18, 14, 385009)

In [41]:
date=datetime.date.today()
date

datetime.date(2020, 5, 12)

In [54]:
date.month

5

In [56]:
date.day

12

In [61]:
datetime_object

datetime.datetime(2020, 5, 12, 18, 18, 14, 385009)

In [62]:
datetime_object.hour

18

In [63]:
datetime_object.second

14

In [42]:
time=datetime.time(11,5,22,111)
time

datetime.time(11, 5, 22, 111)

In [43]:
time.second

22

In [44]:
d1=datetime.date.today()
d1

datetime.date(2020, 5, 12)

In [49]:
d2=datetime.date(2020,10,14)
d2

datetime.date(2020, 10, 14)

In [52]:
d2 - d1

datetime.timedelta(days=-59)

In [59]:
time.strftime('%H-%M-%S')

'11-05-22'

In [70]:
result=[]
for i in range(2000,3200):
    if (i%7==0and i%5!=0):
        result.append(str(i))
print(','.join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [75]:
def fact(x):
    if x==0:
        return 1
    return x*fact(x-1)

x=int(input())
print(fact(x))

8
40320