In [1]:
def square(num):
    return num**2

In [2]:
my_nums=[1,2,3,4,5]

In [3]:
map(square,my_nums)

In [11]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
result=[]
for i in my_nums:
    s=square(i)
    result.append(s)
result

[1, 4, 9, 16, 25]

In [7]:
def spliser(mystring):
    if len(mystring)%2==0:
        return 'even'
    else:
        return mystring[0]

In [9]:
mynames=['abc','defg','hijk','errtr']

In [10]:
list(map(spliser,mynames))

['a', 'even', 'even', 'e']

In [16]:
def cube(num):
    return num**3

In [18]:
cube(5)

125

In [41]:
list(map(lambda num:num%2==0,my_nums))

[False, True, False, True, False]

In [30]:
def times2(var):
    return var*2

In [24]:
seq=[1,2,3,4,5]

In [25]:
map(times2,seq)

In [27]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [43]:
list(map(lambda num:num%2==0,mynames))

TypeError: not all arguments converted during string formatting

In [48]:
args=[3,6]
list(range(args))

TypeError: 'list' object cannot be interpreted as an integer

In [49]:
args=[3,6]
list(range(*args))

[3, 4, 5]

In [51]:
#list methods
#sort,count,reverse,index,append,pop

In [55]:
square=[x**2 for x in range(10)]

In [56]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]