In [20]:
import pandas as pd
import numpy as np

In [17]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [27]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [21]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [23]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [40]:
ser1 = pd.Series([1,2,3,4],index=['ussr','usa','germany','japan'])

In [41]:
ser2 = pd.Series([1,2,3,4],index=['us','usa','germany','japan'])

In [42]:
ser1+ser2

germany    6.0
japan      8.0
us         NaN
usa        4.0
ussr       NaN
dtype: float64

In [46]:
ser2['japan']

4

In [51]:
from numpy.random import randn
np.random.seed(101)

In [57]:
df=pd.DataFrame(randn(5,5),index='q w e r t'.split(),columns=('a','s', 'd', 'f' ,'g'))

In [58]:
df

          a         s         d         f         g
q -0.156598 -0.031579  0.649826  2.154846 -0.610259
w -0.755325 -0.346419  0.147027 -0.479448  0.558769
e  1.024810 -0.925874  1.862864 -1.133817  0.610478
r  0.386030  2.084019 -0.376519  0.230336  0.681209
t  1.035125 -0.031160  1.939932 -1.005187 -0.741790

In [62]:
df['s']

q   -0.031579
w   -0.346419
e   -0.925874
r    2.084019
t   -0.031160
Name: s, dtype: float64

In [65]:
df['q']

KeyError: 'q'

In [67]:
df[['a','f']]

          a         f
q -0.156598  2.154846
w -0.755325 -0.479448
e  1.024810 -1.133817
r  0.386030  0.230336
t  1.035125 -1.005187

In [69]:
df[['a','f','s']]

          a         f         s
q -0.156598  2.154846 -0.031579
w -0.755325 -0.479448 -0.346419
e  1.024810 -1.133817 -0.925874
r  0.386030  0.230336  2.084019
t  1.035125 -1.005187 -0.031160

In [70]:
df['h']=df['a']
df

          a         s         d         f         g         h
q -0.156598 -0.031579  0.649826  2.154846 -0.610259 -0.156598
w -0.755325 -0.346419  0.147027 -0.479448  0.558769 -0.755325
e  1.024810 -0.925874  1.862864 -1.133817  0.610478  1.024810
r  0.386030  2.084019 -0.376519  0.230336  0.681209  0.386030
t  1.035125 -0.031160  1.939932 -1.005187 -0.741790  1.035125

In [79]:
df.drop('a',axis=1)

          s         d         f         g         h
q -0.031579  0.649826  2.154846 -0.610259 -0.156598
w -0.346419  0.147027 -0.479448  0.558769 -0.755325
e -0.925874  1.862864 -1.133817  0.610478  1.024810
r  2.084019 -0.376519  0.230336  0.681209  0.386030
t -0.031160  1.939932 -1.005187 -0.741790  1.035125

In [81]:
df.drop('f',axis=1,inplace=True)
df

          a         s         d         g         h
q -0.156598 -0.031579  0.649826 -0.610259 -0.156598
w -0.755325 -0.346419  0.147027  0.558769 -0.755325
e  1.024810 -0.925874  1.862864  0.610478  1.024810
r  0.386030  2.084019 -0.376519  0.681209  0.386030
t  1.035125 -0.031160  1.939932 -0.741790  1.035125

In [84]:
df.loc[['e','r'],['s','d']]

          s         d
e -0.925874  1.862864
r  2.084019 -0.376519

In [88]:
df.iloc[2:4,2:4]

          d         g
e  1.862864  0.610478
r -0.376519  0.681209

In [89]:
df>0

       a      s      d      g      h
q  False  False   True  False  False
w  False  False   True   True  False
e   True  False   True   True   True
r   True   True  False   True   True
t   True  False   True  False   True

In [90]:
df<0

       a      s      d      g      h
q   True   True  False   True   True
w   True   True  False  False   True
e  False   True  False  False  False
r  False  False   True  False  False
t  False   True  False   True  False

In [93]:
data={'company':['a','a','b','b','c','c'],
     'person':['sam','me','you','his','her','mine'],
     'sales':[100,200,300,400,500,600]}

In [95]:
df=pd.read_csv('example')
pd

In [96]:
df.to_csv('example',index=False)